include LICENSE
include README.md
include pyproject.toml
include setup.py
include install.json

# Jupyter config
recursive-include jupyter-config *.json

# Javascript files
recursive-include src/components *.tsx
recursive-include src/services *.ts
recursive-include src/utils *.ts
recursive-include src/style *.css
include src/index.ts

# Python files
recursive-include src/jupyterlab_ai_assistant *.py

# Patterns to exclude
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude __pycache__
global-exclude .DS_Store
